header{
    background-color: #231f20;
    .logo-side{
        display: flex;
        align-items: center;
        a{
            font-family: 'Sanchez', serif;
            font-weight: 600;
            font-size: 2.7rem;
            color: white !important;
            display: inline-block;
            margin: 4rem 2rem;
        }
    }

    .right-side{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        ul{
            margin: 0%;
            li{
                display: inline-block;
                margin: 4rem 2rem;
                @include respond(tab-land){
                    margin: 4rem 1rem;
                }
                a{
                    color: white !important;
                    font-size: 1.6rem;
                    font-family: "Akzidenz-Grotesk-BQ-Bold";
                    cursor: pointer;
                    @include respond(tab-land){
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }

}